.chapter::before{
    content: '"';
    font-size: 15em;
}
.chapter p::first-letter{
    float: left;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.chapter p::first-line{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}